* {
    padding: 0;
    margin: 0;
}
header {
    background-color: rgb(42, 105, 160);
    height: 80px;
    width: 100%;
    position: relative;
}
h1 {
    color: white;
    position: absolute;
    left: 80px;
    top: 0;
    line-height: 80px;
}
header ul {
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}
header a {
    color: white;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
header li {
    display: inline;
    margin-right: 4vw;
}
.program {
    background-color: white;
    display: flex;
    width: auto;
    padding: 50px 80px;
}
.program img {
    width: 900px;
    border-radius: 5px;
}
.info {
    background-color: rgb(238, 238, 238);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info h2 {
    font-size: 40px;
    margin-bottom: 25px;
}
.info p {
    font-size: 25px;
    text-align: center;
    line-height: 2em;
}
.info a {
    font-size: 20px;
}
.menu{
    display: none;
}
.menu:hover {
    text-decoration: underline;
}
nav ul {
    list-style: none;
    display: flex;
}


/* 螢幕比例調整 */
@media screen and (max-width: 768px) {
    header ul {
        display: none;
    }
    header h1 {
        left: 50%;
        transform: translateX(-50%);
    }
    .menu {
        display: block;
        background-color: transparent;
        color: white;
        font-size: 35px;
        position: absolute;
        top: 15px;
        left: 20px;
        border: none;
        cursor: pointer;
    }
    .program {
        flex-direction: column;
        width: 100%;
        padding: 40px 0px;
    }
    .program img {
        width: 100%;
        border-radius: 5px;
    }
    .info {
        width: 100%;
    }
    .nav-list {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    .nav-list.show {
        display: flex;
    }

    .nav-list li {
        margin: 0;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid #555;
    }
}

@media screen and (max-width: 1080px) {
    header ul {
        display: none;
    }
    header h1 {
        left: 50%;
        transform: translateX(-50%);
    }
    .menu {
        display: block;
        background-color: transparent;
        color: white;
        font-size: 35px;
        position: absolute;
        top: 15px;
        left: 20px;
        border: none;
        cursor: pointer;
    }
    .program {
        flex-direction: column;
        width: 100%;
        padding: 40px 0px;
    }
    .program img {
        width: 100%;
        border-radius: 5px;
    }
    .info {
        width: 100%;
    }
    .nav-list {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    .nav-list.show {
        display: flex;
    }

    .nav-list li {
        margin: 0;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid #555;
    }
}

@media screen and (max-width: 1260px) {
    header ul {
        display: none;
    }
    header h1 {
        left: 50%;
        transform: translateX(-50%);
    }
    .menu {
        display: block;
        background-color: transparent;
        color: white;
        font-size: 35px;
        position: absolute;
        top: 15px;
        left: 20px;
        border: none;
        cursor: pointer;
    }
    .program {
        flex-direction: column;
        width: 100%;
        padding: 40px 0px;
    }
    .program img {
        width: 100%;
        border-radius: 5px;
    }
    .info {
        width: 100%;
    }
    .nav-list {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    .nav-list.show {
        display: flex;
    }

    .nav-list li {
        margin: 0;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid #555;
    }
}