* {
    padding: 0;
    margin: 0;
}

/* header */
header {
    background-color: rgb(42, 105, 160);
    height: 80px;
    width: 100%;
    position: relative;
}
h1 {
    color: white;
    position: absolute;
    left: 80px;
    top: 0;
    line-height: 80px;
}
header ul {
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}
header a {
    color: white;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
header li {
    display: inline-block;
    margin-right: 4vw;
    line-height: 60px;
    font-size: 18px;
}

/* main */
.member {
    display: flex;
    flex: 1;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.member h2 {
    color: black;
    padding: 10px;
}

/* 螢幕比例調整 */
@media screen and (max-width: 768px) {
    header h1 {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 1080px) {
    header h1 {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 1260px) {
    header h1 {
        left: 50%;
        transform: translateX(-50%);
    }
}