* {
    padding: 0;
    margin: 0;
}
header {
    background-color: rgb(42, 105, 160);
    height: 80px;
    width: 100%;
    position: relative;
}
h1 {
    color: white;
    position: absolute;
    left: 80px;
    top: 0;
    line-height: 80px;
}
header ul {
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}
header a {
    color: white;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
header li {
    display: inline-block;
    margin-right: 4vw;
    line-height: 60px;
    font-size: 25px;
}