* {
    padding: 0;
    margin: 0;
}

/* header */
header {
    background-color: rgb(42, 105, 160);
    height: 80px;
    width: 100%;
    position: relative;
}
h1 {
    color: white;
    position: absolute;
    left: 80px;
    top: 0;
    line-height: 80px;
}
header ul {
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}
header a {
    color: white;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
header li {
    display: inline-block;
    margin-right: 4vw;
    line-height: 60px;
    font-size: 18px;
}


/* main-count */
.count {
    background-color: white;
    display: flex;
    width: 1250px;
    padding: 50px 60px;
}
.count img {
    width: 750px;
}
.info-count {
    background-color: rgb(238, 238, 238);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-count h2 {
    font-size: 30px;
    margin-bottom: 25px;
    text-align: center;
}
.info-count p {
    font-size: 25px;
    text-align: center;
    line-height: 2em;
}


/* 螢幕比例調整 */
@media screen and (max-width: 768px) {
    header h1 {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 1080px) {
    header h1 {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 1260px) {
    header h1 {
        left: 50%;
        transform: translateX(-50%);
    }
}